<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
</head>
<body>

<div class="center">
    <div class="title">open ears</div>
    <div class="subtitle">@uiuc</div>
    <img id="logo" src="/oe.svg" alt="oe logo">
    <a id="findfriend" href="google.com">find a friend</a>
</div>

<div class="footer">
    <a>about us</a> | <a>mission statement</a>
</div>
</body>
</html>